.gcontent {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 1 0px;
  min-width: 1096px;
  background-color: #FAFAFA;
  padding: 0 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
