.gcarousel {
  margin: 32px auto;
  margin-bottom: 0px;
  padding-left: 46px;
}

.gsong-layout-container {
  width: 960px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

.gsong-layout:nth-child(n+6) {
  margin-top: 24px;
}

