.musicplayer-progress {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  width: 874px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #444444;
}

.progress-time, .progress-total {
  width: 48px;
  text-align: center;
}

.progress-timed {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0;
  border-radius: 6px;
}

.progress {
  width:  778px;
  height: 6px;
  background-color: #dcdcdc;
  border-radius: 6px;
  position: relative;
}
