.gsong {
  border: 1px solid #e0e0e0;
  width: 182px;
  height: 182px;
  margin-right: 8px;
}

.gsong-layout {
  flex-flow: column;
}

.gsong-des {
  font-size: 12px;
  font-weight: lighter;
  color: #2c2c2c;
}
